@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  --light-gray: #d2d3d8;
  --very-dark-violet: #21092f;
  --dark-grayish-violet: #8e8593;
  --light-grayish-violet: #dedddf;
  --violet: #6448fe;
}

.header {
  position: relative;
}

.header>img {
  width: 100%;
}

.card-container {
  position: absolute;
  max-width: 75%;
}

.back-container {
  top: 17%;
  right: 5%;
}

.front-container {
  top: 55%;
  left: 5%;
}

.credit-card {
  width: 100%;
}

.security-code {
  color: white;
  position: absolute;
  top: 44%;
  right: 12%;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.logo {
  position: absolute;
  width: 20%;
  left: 7%;
  top: 12%;
}

.card-number {
  position: absolute;
  color: white;
  top: 50%;
  left: 10%;
  right: 4%;
  width: 86%;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
}

.four-digits {
  width: 100%;
  text-align: left;
}

.card-holder,
.exp-date {
  position: absolute;
  color: white;
  bottom: 16%;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.card-holder {
  left: 7%;
}

.exp-date {
  right: 7%;
}

.form {
  margin-top: 120px;
  padding: 0 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "holder holder holder holder"
    "number number number number"
    "month year cvc cvc"
    "button button button button";
  gap: 20px;
}

.holder {
  grid-area: holder;
}

.number {
  grid-area: number;
}

.month {
  grid-area: month;
}

.year {
  grid-area: year;
}

.cvc {
  grid-area: cvc;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
  font-weight: 800;
  color: var(--very-dark-violet);
}

.input {
  height: 60px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid var(--light-grayish-violet);
  text-indent: 20px;
  font-size: 25px;
  color: var(--dark-grayish-violet);
  width: 100%;
  outline: none;
}

.input:focus {
  border-color: var(--violet);
  ;
}