@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  --light-gray: #d2d3d8;
}

.header {
  position: relative;
}

.header>img {
  width: 100%;
}

.card-container {
  position: absolute;
  max-width: 75%;
}

.back-container {
  top: 17%;
  right: 5%;
}

.front-container {
  top: 55%;
  left: 5%;
}

.credit-card {
  width: 100%;
}

.security-code {
  color: white;
  position: absolute;
  top: 43%;
  right: 12%;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.logo {
  position: absolute;
  width: 20%;
  left: 7%;
  top: 12%;
}

.card-number {
  position: absolute;
  color: white;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.card-holder,
.exp-date {
  position: absolute;
  color: white;
  bottom: 16%;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.card-holder {
  left: 7%;
}

.exp-date {
  right: 7%;
}